<form id="dislike" action="like" method="POST">
    <input name="liked" type="hidden" value="false">
    <input name="id" type="hidden" value="<%= likedPeople %>">
    <button id="img-delete" type="submit"></button>
</form>