<form id="unlike" action="/like" method="POST">
    <input name="liked" type="hidden" value="false">
    <input name="id" type="hidden" value="<%= userID %>">
    <button id="delete" type="submit">Delete</button>
</form>