<form id="dislike" action="/">
    <button id="button1" type="submit"></button>
</form>
<form id="like" method="POST" action= "/">
    <input type="hidden" value="<%= testID %>">
    <button id="button2" type="submit"></button>
</form>