<form method="POST" action="like">
    <label>
        <input type="radio" name="liked" value="no">Dislike
    </label>
    <label>
        <input type="radio" name="liked" value="yes">Like
    </label>
    <button>add</button>
</form>