{{> header }}

<img class="girl" src="/static/images/girl-mc.jpg" alt="Girl eating McDonalds">
<h3>{{ name }}</h3>
<p class="info">{{ info }}</p>
<button id="button1"></button>
<button id="button2"></button>