<%- include('./layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>


<!-- {{!-- <div>{{people.id[0]}}</div> --}} -->
<!-- <div><%= people.1.name %></div> -->
<img class="girl" src="/static/images/girl-mc.jpg" alt="Girl eating McDonalds">
<!-- <h3><%= name %></h3> -->
<!-- <h3>{{ name }}</h3> -->
<!-- <p class="info">{{ info }}</p> -->
<div class="formulier">
<!-- {{> form }} -->
</div>

<!-- <p>{{ data.[0].name }}</p> -->

<!-- <div>
{{#each people.id }}
<img src="{{img}}"><div><h4>{{name}}</h4>  <p>{{age}}, {{residence}}</p> <p>Favorite product: {{product}}</p></div>
{{/each}}
</div> -->