<%- include('./layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<img class="girl" src="<%- firstUser.img %>" alt="Girl eating McDonalds">
<p class="info"> It looks like there are no more people to like or dislike. Come back later! </p>