<%- include('./layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<h3>You did not like anyone yet, so start liking!!</h3>
<img id="go-like-button" src="/static/images/like-button.svg" alt="Happy fries">
<a id="liked" href="/">Start liking</a>
