<%- include('./layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<h3 class="nomore"> It looks like there are no more people to like or dislike for now </h3>
<img class="sad" src="/static/images/dislike-button.svg" alt="Sad person">
<p>Go to the people you already liked!</p>
<a id="liked" href="/like">See people I've liked</a>