body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto';
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #8fb398;
    height: 5em;
}

header h2 {
    padding: 0.5em;
    margin: 0;
    font-size: 2.3em;
    color: #ffd700;
}

.hartje {
    width: 3em;
    height: 3em;
    margin: 1em;
}

h3 {
    margin: 0 30% 0 30%;
    /* align-items: center; */
    font-size: 1.4em;
}

.girl {
    width: 90%;
    height: 55vh;
    margin: 1em;
    border-radius: 10%;
}

.formulier {
    display: flex;
    flex-direction: row;;
}

#button1, #button2 {
    background-size: cover;
    width: 8em;
    height: 9.5em;
    border: none;
    background-color: transparent;
}

#button1 {
    background-image: url('/static/images/dislike-button.svg');
    margin: 2.5em 5em 1em 2.5em;
}

#button2 {
    background-image: url('/static/images/like-button.svg');
    margin: 2.5em 0 1em 0;
}

.info {
    margin: 0 30% 0 29%;
}