body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
 }
 
a {
     text-decoration: none;
}

a:active, a:focus {
    outline: black;
    border: solid 0.2em black;
}
 
header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     background: #8fb398;
     height: 5em;
}
 
header h2 {
     padding: 0.5em;
     margin: 0;
     font-size: 2.3em;
     color: #ffd700;
}
 
img.hartje {
     width: 3em;
     height: 3em;
     margin: 1em;
}

h3 {
    margin: 0.5em 1em 0.5em 0.5em;;
}

h4 {
    margin: 0.5em;
}

p {
    margin: 0.5em 0.8em 0.5em 0.5em;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #c3deca;
}

li {
    display: flex;
    flex-direction: row;
}

ul li:nth-of-type(odd) {
    background: #618069;
    color: white;
}

ul li img {
    width: 5.1em;
    height: 6em;
    padding: 0.5em;
}

button#delete {
    background-size: cover;
    background-image: url('/static/images/delete.svg');
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0.5em;
    width: 2em;
    height: 3.5em;
    margin: 0.5em 0 0 0;
    padding: 0;
    text-indent: -999em;
}

button#delete:focus, button#delete:active {
    outline: black;
    border: solid 0.2em black;
}

a#liked {
    display: flex;
    justify-content: center;
    margin-left: calc(50% - 4.5em);
    width: 9em;
    padding: 0.3em;
    font-size: 1.1em;
    text-align: center;
    background:#f54040;
    color: white;
    margin-top: 2em;
}

img#go-like-button {
    margin: 4em 2em 2em 2em;
}